/* Index */
input[type="search"] {
	height: 64px !important; /* or height of nav */
}

.row .col.s9 {
	padding-left: 0px;
}

.nav-link {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;	
}

.btn-floating.halfway-fab {
	z-index: 10;
	bottom: auto;
	margin-top: -20px;
}

/*  Footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}